<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9f65918680.js" crossorigin="anonymous"></script>
    <title>Gamer Zone Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!--Header-->
	<%- include('partials/head')  %> 

          <!--Subheader-->
		  <div class="container-fluid">
			<nav class="nav text-center  navbar-dark navbar-expand-sm" style="background-color: rgb(54, 180, 54);">
			  <div class="container">
				<ul class="navbar-nav ">
					<li class="nav-item">
						  <a class="nav-link " href="/">Menu</a>
					</li>
					<li class="nav-item">
						  <a class="nav-link" href="/pc-gaming">Pc Gaming</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/carrito">Carrito(<%= locals.itemsCarrito %>)</a>
					</li>
				</ul>
				</div>
			</nav>
	

<div class="container mt-4">	
	<h2 class="products-title" style="color: #23be48;">CREAR PRODUCTO</h2>
	<form action="/pc-gaming/product/create" method="POST" enctype="multipart/form-data">
		<div class="row">
		  <div class="col">
			<label for="name" class="form-label">Nombre del producto:</label>
			<input type="text" id="name" name="name" placeholder="Ej: Monitor LG 14' " class="form-control">
		  </div>
		  <div class="col">
			<label for="price" class="form-label">Precio del producto:</label>
			<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-control">
		  </div>
		</div>
		<div class="row mt-2">
			<div class="col">
				<label for="discount" class="form-label">Descuento:</label>
				<input type="text" id="discount" name="descuento" placeholder="Ej: 15" class="form-control">
			</div>
			<div class="col">
				<label for="categoryId" class="form-label">Id de Categoría:</label>
				<select name="categoryId" id="categoryId" class="form-control">
					<option value="1">1</option>
					<option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
				</select>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
				<label for="brandId" class="form-label">ID de Marca:</label>
				<select name="brandId" id="brandId" class="form-control">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="4">5</option>
					<option value="4">6</option>
					<option value="4">7</option>
					<option value="4">8</option>
				</select>
			</div>
			<div class="col">
				<label for="description" class="form-label">Descipción:</label>
				<textarea name="description" id="description" class="form-control"></textarea>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
				<label for="stock" class="form-label">Stock:</label>
				<input type="text" id="stock" name="stock" placeholder="Ej: 15" class="form-control">
			</div>
			<div class="col mt-4">
				<label class="form-label" for="image">Imagen: </label>
                <input type="file" id="image" name="img" class="form-file">
                <p class="error"><%= typeof errors == 'undefined' ? null :errors.image ? errors.image.msg : null  %> </p>
			</div>
		</div>
		<div class="row mt-4 mb-4">
			<button type="submit" class="btn btn-outline-success btn-lg btn-block">Guardar Producto</button>
		</div>
	  </form>
</div>  
      <!--Contenido-->

    <!--Footer-->
    <%- include('partials/footer') %> 
 

  </body>
  </html>