/* Detalle producto */
h6 {
    margin: 0;
    padding: 0;
}

#tiras {
    border: solid 0.5px;
}

.col {
    padding-left: 0px !important;
}

#productos {
    margin-top: 1em;
    margin-bottom: 1em;
    
}

.row {
    display: flex;
    align-items: center;
    margin-left: 0 !important;
}

.navbar-brand {
    font-size: 30px;
  }
  
  .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  /*Footer*/
  
  /* Ipad */ 
  
  @media (max-width: 850px) {

    .nav-link {
        font-size: 2.5em !important;
        
    }

  
    .text-center{
        font-size: 0.35em;
    }

    .row {
        align-items: center;
    }


 

    .nav {
        flex-direction: column;
        align-items: center;
  
    }
    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
  
    footer {
        font-size: 2em;
    }
  
    #info {
        font-size: 0.35em;
    }

  }
  

  
  /* Iphone */
  @media (max-width: 576px) {

    .nav-item {
        font-size: 0.4em;
    }

    .nav {
        font-size: 1em;
        flex-direction: column;
        align-items: center;
    }
    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
  
    footer {
        font-size: 2em;
    }

    .my-2 {
        font-size: 1.5em;
    }
}