/* Detalle producto */
.row {
    display: flex;
    justify-content: center;
    margin-left: 0 !important;
}

.navbar-brand {
    font-size: 30px;
  }
  
  .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  /*Footer*/
  
  /* Ipad */ 

  
  @media (max-width: 850px) {

    #sub-cat{
        font-size: 2em !important;
        margin: 0 !important;
    }

    #icon {
        font-size: 4em !important;
    }


  
    .text-center{
        font-size: 0.5em;
    }

    #contenedor {
        flex-direction: column;
    }

    .row {
        align-items: center;
    }

    .card-img-top {
        width: 15rem !important;
    }

    #categoria {
        padding: 1em !important;
        width: 100% !important;
    }

    /* #card-categoria {
        padding: 1em;
    }
   */
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .col-md-6{
        padding-top: 0.5em;
    }
    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
  
    footer {
        font-size: 2em;
    }
  
    #info {
        font-size: 0.35em;
    }
  }
  

  
  /* Iphone */
  @media (max-width: 576px) {

    .btn {
        font-size: 1rem;
    }

    #sub-cat{
        font-size: 1.6em !important;
        margin: 0 !important;
    }

    #icon {
        font-size: 4em !important;
    }

  
    .text-center{
        font-size: 0.5em;
    }

    #contenedor {
        flex-direction: column;
    }


    .card-img-top {
        width: 15rem !important;
    }

    #categoria {
        padding: 1em !important;
    }

    /* #card-categoria {
        padding: 1em;
    }
   */
    .nav {
        font-size: 1em;
        flex-direction: column;
        align-items: center;
    }
    .col-md-6{
        padding-top: 0.5em;
    }
    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
  
    footer {
        font-size: 2em;
    }
  
    #info {
        font-size: 0.35em;
    }
  }
  
  
  