

.form-control {
    border-bottom: 1px solid #5eff00;
    box-shadow: 0 1px 0 0 #51ff00;
}

@media (max-width: 576px) {

    /*SubHeader */

    .nav-item {
        
        border-bottom: 0.1em solid rgb(7, 141, 40) !important;
    }

    .navbar-nav a{
        font-size: 1.7em !important;
    }

    /* EDIT PRODUCT */
    .row{
        flex-direction: column !important;
    }

    h2 {
        font-size: 1.5em !important;
        
    }

    #btn1 #btn2{
        flex-direction: row !important;
    }

    #btn1 button{
        margin-left: 4.7em;
    }

    #btn2 a {
        margin-top: 10px;
        margin-left: 4.7em;
    }
}