#registro {
    padding: 0.1em; 
    padding-top: 2em;
    border-top: solid 2px;
    border-color: rgb(28, 190, 28);
    
}

.social-container{
    display: flex;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: center;
    margin-left: 0 !important;
}

.navbar-brand {
    font-size: 30px;
  }
  
  .container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  /*Footer*/
  
  /* Ipad */ 

  
  @media (max-width: 850px) {

    #sub-cat{
        font-size: 2em !important;
        margin: 0 !important;
    }

    #icon {
        font-size: 4em !important;
    }


  
    .text-center{
        font-size: 0.5em;
    }

    #contenedor {
        flex-direction: column;
    }

    .row {
        align-items: center;
    }

    .card-img-top {
        width: 15rem !important;
    }

    #categoria {
        padding: 1em !important;
        width: 100% !important;
    }

    /* #card-categoria {
        padding: 1em;
    }
   */
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .col-md-6{
        padding-top: 0.5em;
    }
    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
  
    footer {
        font-size: 2em;
    }
  
    #info {
        font-size: 0.35em;
    }
  }
  

  
  /* Iphone */
  @media (max-width: 576px) {



    #sub-cat{
        font-size: 1.6em !important;
        margin: 0 !important;
    }

    #icon {
        font-size: 4em !important;
    }

  
    .text-center{
        font-size: 0.5em;
    }

    #contenedor {
        flex-direction: column;
    }


    .card-img-top {
        width: 15rem !important;
    }

    #categoria {
        padding: 1em !important;
    }

    /* #card-categoria {
        padding: 1em;
    }
   */
    .nav {
        font-size: 1em;
        flex-direction: column;
        align-items: center;
    }
    .col-md-6{
        padding-top: 0.5em;
    }
    .container-fluid {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
  
    footer {
        font-size: 2em;
    }
  
    #info {
        font-size: 0.35em;
    }
  }
  
  
  



/* sign in FORM */

.btn-light {
    color: white;
    background-color:#3C589C !important;
}


#logreg-forms{
    width:412px;
    margin:10vh auto;
    background-color:#f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


#logreg-forms .social-login{
    width:390px;
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
}

#logreg-forms a{
    display: block;
    padding-top:10px;
    color:lightseagreen;
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
    width:210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px){
    #logreg-forms{
        width:300px;
    }
    
    #logreg-forms  .social-login{
        width:200px;
        margin:0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn{
        font-size: 1.3rem;
        font-weight: 100;
        color:white;
        width:200px;
        height: 56px;
        
    }
    #logreg-forms .social-btn:nth-child(1){
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span{
        display: none;
    }
    #logreg-forms  .facebook-btn:after{
        content:'Facebook';
    }
  
    #logreg-forms  .google-btn:after{
        content:'Google+';
    }
    
}